{{ block "index" . }}
<!DOCTYPE html>
<head>
	<title> Battleship </title>
	<script src="htmx.min.js"></script>
</head>
<body>
	{{ template "inner" . }}
</body>
{{ end }}

{{ block "login" . }}
<form hx-swap="outerHTML" hx-post="/login">
	user: <input type="text"></input>
	pass: <input type="text"></input>
	<button type="submit"> login </button>
</form>>
{{ end }}

{{ block "signin" . }}
<form hx-swap="outerHTML" hx-post="/signin">
	user : <input type="text"></input>
	email: <input type="text"></input>
	pass : <input type="text"></input>
	<button type="submit"> sigin </button>
</form>
{{ end }}
